{
  "openapi": "3.1.0",
  "info": {
    "title": "v1 production",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://production.hifibridge.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "authorization",
        "x-default": "Bearer zpka_123456789"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/ping": {
      "get": {
        "summary": "Ping HIFI Servers",
        "description": "",
        "operationId": "get-ping",
        "tags": ["Connectivity"],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/user/create": {
      "post": {
        "summary": "Create User (Individual)",
        "description": "This endpoint handles user creation in an asynchronous manner. Polling the GET /user endpoint after creating the user is highly recommended. Note that adding \"#individual\" at the end of the url is optional.",
        "operationId": "create-user",
        "tags": ["User"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userType",
                  "legalFirstName",
                  "legalLastName",
                  "complianceEmail",
                  "compliancePhone",
                  "dateOfBirth",
                  "taxIdentificationNumber",
                  "addressLine1",
                  "city",
                  "stateProvinceRegion",
                  "postalCode",
                  "country",
                  "signedAgreementId",
                  "ipAddress",
                  "govIdFront",
                  "govIdCountry"
                ],
                "properties": {
                  "userType": {
                    "type": "string",
                    "enum": ["individual"]
                  },
                  "legalFirstName": {
                    "type": "string"
                  },
                  "legalLastName": {
                    "type": "string"
                  },
                  "complianceEmail": {
                    "type": "string",
                    "description": "Email address for compliance-related communications."
                  },
                  "compliancePhone": {
                    "type": "string",
                    "description": "Phone in format \"+12223334444\""
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "description": "Date of birth in format yyyy-mm-dd"
                  },
                  "taxIdentificationNumber": {
                    "type": "string",
                    "description": "For individual US customers, SSN should be used. For non-US individual customers, a national ID is preferred where applicable; however, a tax ID can also be used as an alternative."
                  },
                  "addressLine1": {
                    "type": "string"
                  },
                  "addressLine2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "stateProvinceRegion": {
                    "type": "string",
                    "description": "ISO 3166-2 subdivision code. Must be supplied if the country has subdivisions."
                  },
                  "postalCode": {
                    "type": "string",
                    "description": "Must be supplied for countries that use postal codes."
                  },
                  "country": {
                    "type": "string",
                    "description": "Three-letter alpha-3 country code as defined in the ISO 3166-1 spec."
                  },
                  "signedAgreementId": {
                    "type": "string",
                    "description": "ID of the signed agreement, fetched through the HIFI's Hosted Terms of Service Link POST /tos-link"
                  },
                  "ipAddress": {
                    "type": "string",
                    "description": "IP address of the user."
                  },
                  "govIdFront": {
                    "type": "string",
                    "description": "URL of  image of the front of the user's government issued ID  Valid file types: .pdf, .jpeg, .jpg, .png, .heic, .tif"
                  },
                  "govIdBack": {
                    "type": "string",
                    "description": "Not required for passports. Required for all other ID types. URL of  image of the back of the user's government issued ID  Valid file types: .pdf, .jpeg, .jpg, .png, .heic, .tif"
                  },
                  "govIdCountry": {
                    "type": "string",
                    "description": "Alpha-3 country code of the provided government id as defined in the ISO 3166-1 spec. Note that the government ID may be different from the \"country\" above."
                  },
                  "proofOfResidency": {
                    "type": "string",
                    "description": "URL of the file of the proof of residency (Required for users based in the EU or withdrawing into EU bank accounts) Valid file types: .pdf, .jpeg, .jpg, .png, .heic, .tif"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"wallet\": {\n        \"walletStatus\": \"ACTIVE\",\n        \"walletMessage\": \"\",\n        \"actionNeeded\": {\n            \"actions\": [],\n            \"fieldsToResubmit\": []\n        },\n        \"walletAddress\": {\n            \"POLYGON_MAINNET\": {\n                \"address\": \"0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5\"\n            },\n            \"ETHEREUM_MAINNET\": {\n                \"address\": \"0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5\"\n            },\n            \"OPTIMISM_MAINNET\": {\n                \"address\": \"0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5\"\n            }\n        }\n    },\n    \"user_kyc\": {\n        \"status\": \"PENDING\",\n        \"actionNeeded\": {\n            \"actions\": [],\n            \"fieldsToResubmit\": []\n        }\n    },\n    \"ramps\": {\n        \"usdAch\": {\n            \"onRamp\": {\n                \"status\": \"PENDING\",\n                \"actionNeeded\": {\n                    \"actions\": [],\n                    \"fieldsToResubmit\": []\n                },\n                \"message\": \"\",\n                \"achPull\": {\n                    \"achPullStatus\": \"ACTIVE\",\n                    \"actionNeeded\": {\n                        \"actions\": [],\n                        \"fieldsToResubmit\": []\n                    }\n                }\n            },\n            \"offRamp\": {\n                \"status\": \"PENDING\",\n                \"actionNeeded\": {\n                    \"actions\": [],\n                    \"fieldsToResubmit\": []\n                }\n            }\n        },\n        \"euroSepa\": {\n            \"onRamp\": {\n                \"status\": \"INACTIVE\",\n                \"actionNeeded\": {\n                    \"actions\": [],\n                    \"fieldsToResubmit\": []\n                },\n                \"message\": \"SEPA onRamp will be available in near future\"\n            },\n            \"offRamp\": {\n                \"status\": \"ACTIVE\",\n                \"actionNeeded\": {\n                    \"actions\": [],\n                    \"fieldsToResubmit\": []\n                },\n                \"message\": \"\"\n            }\n        }\n    },\n    \"user\": {\n        \"id\": \"75d7c01f-5f93-4490-8b93-a62fd8020358\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet": {
                      "type": "object",
                      "properties": {
                        "walletStatus": {
                          "type": "string",
                          "example": "ACTIVE"
                        },
                        "walletMessage": {
                          "type": "string",
                          "example": ""
                        },
                        "actionNeeded": {
                          "type": "object",
                          "properties": {
                            "actions": {
                              "type": "array"
                            },
                            "fieldsToResubmit": {
                              "type": "array"
                            }
                          }
                        },
                        "walletAddress": {
                          "type": "object",
                          "properties": {
                            "POLYGON_MAINNET": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string",
                                  "example": "0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5"
                                }
                              }
                            },
                            "ETHEREUM_MAINNET": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string",
                                  "example": "0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5"
                                }
                              }
                            },
                            "OPTIMISM_MAINNET": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string",
                                  "example": "0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "user_kyc": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "PENDING"
                        },
                        "actionNeeded": {
                          "type": "object",
                          "properties": {
                            "actions": {
                              "type": "array"
                            },
                            "fieldsToResubmit": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    },
                    "ramps": {
                      "type": "object",
                      "properties": {
                        "usdAch": {
                          "type": "object",
                          "properties": {
                            "onRamp": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "example": "PENDING"
                                },
                                "actionNeeded": {
                                  "type": "object",
                                  "properties": {
                                    "actions": {
                                      "type": "array"
                                    },
                                    "fieldsToResubmit": {
                                      "type": "array"
                                    }
                                  }
                                },
                                "message": {
                                  "type": "string",
                                  "example": ""
                                },
                                "achPull": {
                                  "type": "object",
                                  "properties": {
                                    "achPullStatus": {
                                      "type": "string",
                                      "example": "ACTIVE"
                                    },
                                    "actionNeeded": {
                                      "type": "object",
                                      "properties": {
                                        "actions": {
                                          "type": "array"
                                        },
                                        "fieldsToResubmit": {
                                          "type": "array"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "offRamp": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "example": "PENDING"
                                },
                                "actionNeeded": {
                                  "type": "object",
                                  "properties": {
                                    "actions": {
                                      "type": "array"
                                    },
                                    "fieldsToResubmit": {
                                      "type": "array"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "euroSepa": {
                          "type": "object",
                          "properties": {
                            "onRamp": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "example": "INACTIVE"
                                },
                                "actionNeeded": {
                                  "type": "object",
                                  "properties": {
                                    "actions": {
                                      "type": "array"
                                    },
                                    "fieldsToResubmit": {
                                      "type": "array"
                                    }
                                  }
                                },
                                "message": {
                                  "type": "string",
                                  "example": "SEPA onRamp will be available in near future"
                                }
                              }
                            },
                            "offRamp": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "example": "ACTIVE"
                                },
                                "actionNeeded": {
                                  "type": "object",
                                  "properties": {
                                    "actions": {
                                      "type": "array"
                                    },
                                    "fieldsToResubmit": {
                                      "type": "array"
                                    }
                                  }
                                },
                                "message": {
                                  "type": "string",
                                  "example": ""
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "75d7c01f-5f93-4490-8b93-a62fd8020358"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \"error\": \"fields provided are either missing or invalid\", \"missing_fields\": [], \"invalid_fields\": [] }"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "Unsupported area (ipAddress)"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "fields provided are either missing or invalid"
                        },
                        "missing_fields": {
                          "type": "array"
                        },
                        "invalid_fields": {
                          "type": "array"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \"error\": \"Unexpected error happened, please contact HIFI for more information\" }"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unexpected error happened, please contact HIFI for more information"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/user": {
      "get": {
        "summary": "Get User",
        "description": "",
        "operationId": "get-user",
        "tags": ["User"],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"wallet\": {\n        \"walletStatus\": \"ACTIVE\",\n        \"walletMessage\": \"\",\n        \"actionNeeded\": {\n            \"actions\": [],\n            \"fieldsToResubmit\": []\n        },\n        \"walletAddress\": {\n            \"POLYGON_MAINNET\": {\n                \"address\": \"0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5\"\n            },\n            \"ETHEREUM_MAINNET\": {\n                \"address\": \"0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5\"\n            },\n            \"OPTIMISM_MAINNET\": {\n                \"address\": \"0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5\"\n            }\n        }\n    },\n    \"user_kyc\": {\n        \"status\": \"ACTIVE\",\n        \"actionNeeded\": {\n            \"actions\": [],\n            \"fieldsToResubmit\": []\n        }\n    },\n    \"ramps\": {\n        \"usdAch\": {\n            \"onRamp\": {\n                \"status\": \"ACTIVE\",\n                \"actionNeeded\": {\n                    \"actions\": [],\n                    \"fieldsToResubmit\": []\n                },\n                \"message\": \"\",\n                \"achPull\": {\n                    \"achPullStatus\": \"ACTIVE\",\n                    \"actionNeeded\": {\n                        \"actions\": [],\n                        \"fieldsToResubmit\": []\n                    }\n                }\n            },\n            \"offRamp\": {\n                \"status\": \"ACTIVE\",\n                \"actionNeeded\": {\n                    \"actions\": [],\n                    \"fieldsToResubmit\": []\n                }\n            }\n        },\n        \"euroSepa\": {\n            \"onRamp\": {\n                \"status\": \"INACTIVE\",\n                \"actionNeeded\": {\n                    \"actions\": [],\n                    \"fieldsToResubmit\": []\n                },\n                \"message\": \"SEPA onRamp will be available in near future\"\n            },\n            \"offRamp\": {\n                \"status\": \"ACTIVE\",\n                \"actionNeeded\": {\n                    \"actions\": [],\n                    \"fieldsToResubmit\": []\n                },\n                \"message\": \"\"\n            }\n        }\n    },\n    \"user\": {\n        \"id\": \"75d7c01f-5f93-4490-8b93-a62fd8020358\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet": {
                      "type": "object",
                      "properties": {
                        "walletStatus": {
                          "type": "string",
                          "example": "ACTIVE"
                        },
                        "walletMessage": {
                          "type": "string",
                          "example": ""
                        },
                        "actionNeeded": {
                          "type": "object",
                          "properties": {
                            "actions": {
                              "type": "array"
                            },
                            "fieldsToResubmit": {
                              "type": "array"
                            }
                          }
                        },
                        "walletAddress": {
                          "type": "object",
                          "properties": {
                            "POLYGON_MAINNET": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string",
                                  "example": "0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5"
                                }
                              }
                            },
                            "ETHEREUM_MAINNET": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string",
                                  "example": "0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5"
                                }
                              }
                            },
                            "OPTIMISM_MAINNET": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string",
                                  "example": "0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "user_kyc": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "ACTIVE"
                        },
                        "actionNeeded": {
                          "type": "object",
                          "properties": {
                            "actions": {
                              "type": "array"
                            },
                            "fieldsToResubmit": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    },
                    "ramps": {
                      "type": "object",
                      "properties": {
                        "usdAch": {
                          "type": "object",
                          "properties": {
                            "onRamp": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "example": "ACTIVE"
                                },
                                "actionNeeded": {
                                  "type": "object",
                                  "properties": {
                                    "actions": {
                                      "type": "array"
                                    },
                                    "fieldsToResubmit": {
                                      "type": "array"
                                    }
                                  }
                                },
                                "message": {
                                  "type": "string",
                                  "example": ""
                                },
                                "achPull": {
                                  "type": "object",
                                  "properties": {
                                    "achPullStatus": {
                                      "type": "string",
                                      "example": "ACTIVE"
                                    },
                                    "actionNeeded": {
                                      "type": "object",
                                      "properties": {
                                        "actions": {
                                          "type": "array"
                                        },
                                        "fieldsToResubmit": {
                                          "type": "array"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "offRamp": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "example": "ACTIVE"
                                },
                                "actionNeeded": {
                                  "type": "object",
                                  "properties": {
                                    "actions": {
                                      "type": "array"
                                    },
                                    "fieldsToResubmit": {
                                      "type": "array"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "euroSepa": {
                          "type": "object",
                          "properties": {
                            "onRamp": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "example": "INACTIVE"
                                },
                                "actionNeeded": {
                                  "type": "object",
                                  "properties": {
                                    "actions": {
                                      "type": "array"
                                    },
                                    "fieldsToResubmit": {
                                      "type": "array"
                                    }
                                  }
                                },
                                "message": {
                                  "type": "string",
                                  "example": "SEPA onRamp will be available in near future"
                                }
                              }
                            },
                            "offRamp": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "example": "ACTIVE"
                                },
                                "actionNeeded": {
                                  "type": "object",
                                  "properties": {
                                    "actions": {
                                      "type": "array"
                                    },
                                    "fieldsToResubmit": {
                                      "type": "array"
                                    }
                                  }
                                },
                                "message": {
                                  "type": "string",
                                  "example": ""
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "75d7c01f-5f93-4490-8b93-a62fd8020358"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \"error\": \"User not found for provided userId\" }"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User not found for provided userId"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"error\": \"Unexpected error happened, please contact HIFI for more information\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unexpected error happened, please contact HIFI for more information"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update User",
        "description": "Use this endpoint to update a User. Submit only the properties you wish to update. For example, if the actions array from the Create User response indicates the ID was blurry, you could use this endpoint to submit a new govIdFront. Available only for individuals at this time.",
        "operationId": "create-user-copy",
        "tags": ["User"],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "legalFirstName": {
                    "type": "string"
                  },
                  "legalLastName": {
                    "type": "string"
                  },
                  "complianceEmail": {
                    "type": "string",
                    "description": "Email address for compliance-related communications."
                  },
                  "compliancePhone": {
                    "type": "string",
                    "description": "Phone in format \"+12223334444\""
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "description": "Date of birth in format yyyy-mm-dd"
                  },
                  "taxIdentificationNumber": {
                    "type": "string",
                    "description": "For individual US customers, SSN should be used. For non-US individual customers, a national ID is preferred where applicable; however, a tax ID can also be used as an alternative."
                  },
                  "govIdCountry": {
                    "type": "string",
                    "description": "Three-letter alpha-3 country code of the provided government id as defined in the ISO 3166-1 spec."
                  },
                  "addressLine1": {
                    "type": "string"
                  },
                  "addressLine2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "stateProvinceRegion": {
                    "type": "string",
                    "description": "ISO 3166-2 subdivision code. Must be supplied if the country has subdivisions."
                  },
                  "postalCode": {
                    "type": "string",
                    "description": "Must be supplied for countries that use postal codes."
                  },
                  "country": {
                    "type": "string",
                    "description": "Three-letter alpha-3 country code as defined in the ISO 3166-1 spec."
                  },
                  "signedAgreementId": {
                    "type": "string",
                    "description": "ID of the signed agreement, fetched through the HIFI's Hosted Terms of Service Link"
                  },
                  "ipAddress": {
                    "type": "string",
                    "description": "IP address of the user."
                  },
                  "govIdFront": {
                    "type": "string",
                    "description": "Signed URL of  image of the front of the user's government issued ID  Valid file types: .pdf, .jpeg, .jpg, .png, .heic, .tif"
                  },
                  "govIdBack": {
                    "type": "string",
                    "description": "Signed URL of  image of the back of the user's government issued ID  Valid file types: .pdf, .jpeg, .jpg, .png, .heic, .tif"
                  },
                  "proofOfResidency": {
                    "type": "string",
                    "description": "URL of the file of the proof of residency (Only required for European user or withdrawing into European bank account) Valid file types: .pdf, .jpeg, .jpg, .png, .heic, .tif"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"wallet\": {\n        \"walletStatus\": \"ACTIVE\",\n        \"walletMessage\": \"\",\n        \"actionNeeded\": {\n            \"actions\": [],\n            \"fieldsToResubmit\": []\n        },\n        \"walletAddress\": {\n            \"POLYGON_MAINNET\": {\n                \"address\": \"0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5\"\n            },\n            \"ETHEREUM_MAINNET\": {\n                \"address\": \"0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5\"\n            },\n            \"OPTIMISM_MAINNET\": {\n                \"address\": \"0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5\"\n            }\n        }\n    },\n    \"user_kyc\": {\n        \"status\": \"PENDING\",\n        \"actionNeeded\": {\n            \"actions\": [],\n            \"fieldsToResubmit\": []\n        }\n    },\n    \"ramps\": {\n        \"usdAch\": {\n            \"onRamp\": {\n                \"status\": \"PENDING\",\n                \"actionNeeded\": {\n                    \"actions\": [],\n                    \"fieldsToResubmit\": []\n                },\n                \"message\": \"\",\n                \"achPull\": {\n                    \"achPullStatus\": \"ACTIVE\",\n                    \"actionNeeded\": {\n                        \"actions\": [],\n                        \"fieldsToResubmit\": []\n                    }\n                }\n            },\n            \"offRamp\": {\n                \"status\": \"PENDING\",\n                \"actionNeeded\": {\n                    \"actions\": [],\n                    \"fieldsToResubmit\": []\n                }\n            }\n        },\n        \"euroSepa\": {\n            \"onRamp\": {\n                \"status\": \"INACTIVE\",\n                \"actionNeeded\": {\n                    \"actions\": [],\n                    \"fieldsToResubmit\": []\n                },\n                \"message\": \"SEPA onRamp will be available in near future\"\n            },\n            \"offRamp\": {\n                \"status\": \"ACTIVE\",\n                \"actionNeeded\": {\n                    \"actions\": [],\n                    \"fieldsToResubmit\": []\n                },\n                \"message\": \"\"\n            }\n        }\n    },\n    \"user\": {\n        \"id\": \"75d7c01f-5f93-4490-8b93-a62fd8020358\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet": {
                      "type": "object",
                      "properties": {
                        "walletStatus": {
                          "type": "string",
                          "example": "ACTIVE"
                        },
                        "walletMessage": {
                          "type": "string",
                          "example": ""
                        },
                        "actionNeeded": {
                          "type": "object",
                          "properties": {
                            "actions": {
                              "type": "array"
                            },
                            "fieldsToResubmit": {
                              "type": "array"
                            }
                          }
                        },
                        "walletAddress": {
                          "type": "object",
                          "properties": {
                            "POLYGON_MAINNET": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string",
                                  "example": "0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5"
                                }
                              }
                            },
                            "ETHEREUM_MAINNET": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string",
                                  "example": "0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5"
                                }
                              }
                            },
                            "OPTIMISM_MAINNET": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string",
                                  "example": "0xBe64088c19d2F06890ec6bbE03A6125D7A23dec5"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "user_kyc": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "PENDING"
                        },
                        "actionNeeded": {
                          "type": "object",
                          "properties": {
                            "actions": {
                              "type": "array"
                            },
                            "fieldsToResubmit": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    },
                    "ramps": {
                      "type": "object",
                      "properties": {
                        "usdAch": {
                          "type": "object",
                          "properties": {
                            "onRamp": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "example": "PENDING"
                                },
                                "actionNeeded": {
                                  "type": "object",
                                  "properties": {
                                    "actions": {
                                      "type": "array"
                                    },
                                    "fieldsToResubmit": {
                                      "type": "array"
                                    }
                                  }
                                },
                                "message": {
                                  "type": "string",
                                  "example": ""
                                },
                                "achPull": {
                                  "type": "object",
                                  "properties": {
                                    "achPullStatus": {
                                      "type": "string",
                                      "example": "ACTIVE"
                                    },
                                    "actionNeeded": {
                                      "type": "object",
                                      "properties": {
                                        "actions": {
                                          "type": "array"
                                        },
                                        "fieldsToResubmit": {
                                          "type": "array"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "offRamp": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "example": "PENDING"
                                },
                                "actionNeeded": {
                                  "type": "object",
                                  "properties": {
                                    "actions": {
                                      "type": "array"
                                    },
                                    "fieldsToResubmit": {
                                      "type": "array"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "euroSepa": {
                          "type": "object",
                          "properties": {
                            "onRamp": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "example": "INACTIVE"
                                },
                                "actionNeeded": {
                                  "type": "object",
                                  "properties": {
                                    "actions": {
                                      "type": "array"
                                    },
                                    "fieldsToResubmit": {
                                      "type": "array"
                                    }
                                  }
                                },
                                "message": {
                                  "type": "string",
                                  "example": "SEPA onRamp will be available in near future"
                                }
                              }
                            },
                            "offRamp": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "example": "ACTIVE"
                                },
                                "actionNeeded": {
                                  "type": "object",
                                  "properties": {
                                    "actions": {
                                      "type": "array"
                                    },
                                    "fieldsToResubmit": {
                                      "type": "array"
                                    }
                                  }
                                },
                                "message": {
                                  "type": "string",
                                  "example": ""
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "75d7c01f-5f93-4490-8b93-a62fd8020358"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \"error\": \"User not found for provided userId\" }"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User not found for provided userId"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"error\": \"Unexpected error happened, please contact HIFI for more information\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unexpected error happened, please contact HIFI for more information"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/usd/onramp/plaid": {
      "post": {
        "summary": "Add a Bank Account for USD Onramp (Plaid)",
        "description": "HIFI and Plaid have partnered to enable you to use your existing Plaid integration to connect bank accounts and leverage HIFI's transfer automation capabilities.  To get started, follow the below guide from Plaid's API docs. Completing the process will result in the creation of a processor_token.  Sending the processor_token to this endpoint will create an Account for a User within the HIFI platform. You can then easily use the resulting account id as the source of a onramp transaction. https://plaid.com/docs/api/processors/",
        "operationId": "add-a-bank-account-for-usd-onramp-via-plaid-processor-token",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["plaidProcessorToken", "accountType", "bankName"],
                "properties": {
                  "plaidProcessorToken": {
                    "type": "string",
                    "description": "See https://plaid.com/docs/api/processors/"
                  },
                  "accountType": {
                    "type": "string",
                    "enum": ["CHECKING", "SAVING", "BUSINESS"]
                  },
                  "bankName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"ACTIVE\",\n    \"invalidFields\": [],\n    \"message\": \"Bank account added successfully\",\n    \"id\": \"8caf905c-282b-4b0d-ba15-beac9c2aee92\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ACTIVE"
                    },
                    "invalidFields": {
                      "type": "array"
                    },
                    "message": {
                      "type": "string",
                      "example": "Bank account added successfully"
                    },
                    "id": {
                      "type": "string",
                      "example": "8caf905c-282b-4b0d-ba15-beac9c2aee92"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\t\t\t\"status: 400,\n\t\t\t\t\"invalidFields\": [\"processor_token\"],\n\t\t\t\t\"message\": \"\"\n\t\t\t}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\t\t\t\"status: 400,\n\t\t\t\t\"invalidFields\": [],\n\t\t\t\t\"message\": \"No user record found for ach pull. Please create a user first.\"\n\t\t\t}"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\t\t\t\"status: 400,\n\t\t\t\t\"invalidFields\": [],\n\t\t\t\t\"message\": \"Unknown error, please send a screenshot of this request to developers@hifibridge.com\"\n\t\t\t}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/usd/offramp": {
      "post": {
        "summary": "Add a ACH destination bank account for stablecoin liquidations",
        "description": "",
        "operationId": "add-a-bank-account-for-usd-onramp-copy",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currency",
                  "bankName",
                  "accountOwnerName",
                  "accountNumber",
                  "routingNumber",
                  "streetLine1",
                  "city",
                  "state",
                  "postalCode",
                  "country",
                  "accountOwnerType"
                ],
                "properties": {
                  "currency": {
                    "type": "string",
                    "default": "usd",
                    "enum": ["usd"]
                  },
                  "bankName": {
                    "type": "string",
                    "description": "e.g. Chase"
                  },
                  "accountOwnerName": {
                    "type": "string"
                  },
                  "accountNumber": {
                    "type": "string"
                  },
                  "routingNumber": {
                    "type": "string"
                  },
                  "streetLine1": {
                    "type": "string"
                  },
                  "streetLine2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string",
                    "description": "ISO 3166-2 subdivision code."
                  },
                  "postalCode": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string",
                    "description": "Three-letter alpha-3 country code as defined in the ISO 3166-1 spec. Currently must be passed as \"USA\"."
                  },
                  "accountOwnerType": {
                    "type": "string",
                    "enum": ["individual", "business"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"ACTIVE\",\n    \"invalidFields\": [],\n    \"message\": \"Account created successfully\",\n    \"id\": \"daa6ad75-a4c2-486f-a937-1bbf4d19553a\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ACTIVE"
                    },
                    "invalidFields": {
                      "type": "array"
                    },
                    "message": {
                      "type": "string",
                      "example": "Account created successfully"
                    },
                    "id": {
                      "type": "string",
                      "example": "daa6ad75-a4c2-486f-a937-1bbf4d19553a"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \"error\": 'Missing required fields', \"missingFields\": []}"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"error\":\"Internal Server Error}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/euro/offramp": {
      "post": {
        "summary": "Add a SEPA destination bank account for stablecoin liquidations",
        "description": "",
        "operationId": "add-a-bank-account-for-usd-offramp-copy",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currency",
                  "bankName",
                  "accountOwnerName",
                  "accountOwnerType",
                  "ibanAccountNumber",
                  "ibanCountryCode",
                  "businessIdentifierCode"
                ],
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "See https://plaid.com/docs/api/processors/"
                  },
                  "bankName": {
                    "type": "string",
                    "description": "e.g. Chase"
                  },
                  "accountOwnerName": {
                    "type": "string"
                  },
                  "accountOwnerType": {
                    "type": "string",
                    "enum": ["individual", "business"]
                  },
                  "ibanAccountNumber": {
                    "type": "string",
                    "description": "The International Bank Account Number (IBAN) that will be used to send the funds"
                  },
                  "ibanCountryCode": {
                    "type": "string",
                    "description": "Country in which the bank account is located. It's a three-letter alpha-3 country code as defined in the ISO 3166-1 spec."
                  },
                  "businessIdentifierCode": {
                    "type": "string",
                    "description": "The Business Identifier Code (BIC) that will be used to send the funds"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Required when accountOwnerType == \"individual\""
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Required when accountOwnerType == \"individual\""
                  },
                  "businessName": {
                    "type": "string",
                    "description": "Required when accountOwnerType == \"business\""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"ACTIVE\",\n    \"invalidFields\": [],\n    \"message\": \"Account created successfully\",\n    \"id\": \"daa6ad75-a4c2-486f-a937-1bbf4d19553a\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ACTIVE"
                    },
                    "invalidFields": {
                      "type": "array"
                    },
                    "message": {
                      "type": "string",
                      "example": "Account created successfully"
                    },
                    "id": {
                      "type": "string",
                      "example": "daa6ad75-a4c2-486f-a937-1bbf4d19553a"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \"error\": 'Missing required fields', \"missingFields\": []}"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"error\":\"Internal Server Error}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/account": {
      "get": {
        "summary": "Get Account",
        "description": "Returns a bank account that was added with HIFI's /account endpoints",
        "operationId": "get-account",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "railType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["usOnRamp", "usOffRamp", "euOffRamp", "usOffRamp-wire"]
            }
          },
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"accountId\": \"7cd049ad-63fa-4c27-876b-c7bb6bf25f40\",\n    \"userId\": \"c0456689-d56d-4291-8018-14bccb71202f\",\n    \"accountType\": \"CHECKING\",\n    \"accountNumber\": \"5206\",\n    \"routingNumber\": \"028000131\",\n    \"bankName\": \"Chase\",\n    \"railType\": \"usOnRamp\"\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "accountId": {
                          "type": "string",
                          "example": "1fe4d9fa-2343-4175-8af3-2e068fb19094"
                        },
                        "userId": {
                          "type": "string",
                          "example": "c0456689-d56d-4291-8018-14bccb71202f"
                        },
                        "createdAt": {
                          "type": "string",
                          "example": "2024-06-27T15:42:48.518052+00:00"
                        },
                        "currency": {
                          "type": "string",
                          "example": "usd"
                        },
                        "bankName": {
                          "type": "string",
                          "example": "Bank of Aerica"
                        },
                        "accountOwnerName": {
                          "type": "string",
                          "example": "Wei Yu, Yang"
                        },
                        "accountOwnerType": {
                          "type": "string",
                          "example": "individual"
                        },
                        "accountType": {
                          "type": "string",
                          "example": "us"
                        },
                        "beneficiaryStreetLine1": {
                          "type": "string",
                          "example": "1 East Loop Rd."
                        },
                        "beneficiaryStreetLine2": {},
                        "beneficiaryCity": {
                          "type": "string",
                          "example": "New York"
                        },
                        "beneficiaryState": {
                          "type": "string",
                          "example": "NY"
                        },
                        "beneficiaryPostalCode": {
                          "type": "string",
                          "example": "10044"
                        },
                        "beneficiaryCountry": {
                          "type": "string",
                          "example": "USA"
                        },
                        "iban": {},
                        "businessIdentifierCode": {},
                        "bankCountry": {},
                        "accountNumber": {
                          "type": "string",
                          "example": "483101817874"
                        },
                        "routingNumber": {
                          "type": "string",
                          "example": "021000322"
                        },
                        "railType": {
                          "type": "string",
                          "example": "usOffRamp"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "accountId": {
                          "type": "string",
                          "example": "7cd049ad-63fa-4c27-876b-c7bb6bf25f40"
                        },
                        "userId": {
                          "type": "string",
                          "example": "c0456689-d56d-4291-8018-14bccb71202f"
                        },
                        "accountType": {
                          "type": "string",
                          "example": "CHECKING"
                        },
                        "accountNumber": {
                          "type": "string",
                          "example": "5206"
                        },
                        "routingNumber": {
                          "type": "string",
                          "example": "028000131"
                        },
                        "bankName": {
                          "type": "string",
                          "example": "Chase"
                        },
                        "railType": {
                          "type": "string",
                          "example": "usOnRamp"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \"error\": 'Invalid railType' }"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \"error\": \"No account found\" }"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No account found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/transfer/crypto-to-crypto": {
      "get": {
        "summary": "Get a wallet-to-wallet transfer record",
        "description": "Get the transfer history of a specific crypto to crypto transfer",
        "operationId": "transfer-usdc",
        "tags": ["Transfer"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id of the transfer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"transferType\": \"CRYPTO_TO_CRYPTO\",\n    \"transferDetails\": {\n        \"id\": \"e0f38c95-10bc-4af4-86b2-301e394d40a8\",\n        \"requestId\": \"b15be598-f61b-42f5-9589-1e8183076f77\",\n        \"senderUserId\": \"75d7c01f-5f93-4490-8b93-a62fd8020358\",\n        \"recipientUserId\": \"0c91a2a3-b0da-4779-bd15-2b29b8854de4\",\n        \"recipientAddress\": \"0x89dfD8792c7E7041c24F01223929F1d8Dd642F0c\",\n        \"chain\": \"POLYGON_MAINNET\",\n        \"currency\": \"usdc\",\n        \"transactionHash\": \"0xd2f14a064ae8c7509a14597c374a63172f682cfa5fd37b6bf32edd334d52064e\",\n        \"createdAt\": \"2024-07-10T16:20:33.435706+00:00\",\n        \"updatedAt\": \"2024-07-10T16:21:01.027+00:00\",\n        \"status\": \"CONFIRMED\",\n        \"contractAddress\": \"0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359\",\n        \"sender\": {\n            \"business_name\": null,\n            \"legal_last_name\": \"YANG\",\n            \"compliance_email\": \"william@hifibridge.com\",\n            \"legal_first_name\": \"William\"\n        },\n        \"recipient\": {\n            \"business_name\": null,\n            \"legal_last_name\": \"Gutix\",\n            \"compliance_email\": \"max@gmail.com\",\n            \"legal_first_name\": \"Max\"\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transferType": {
                      "type": "string",
                      "example": "CRYPTO_TO_CRYPTO"
                    },
                    "transferDetails": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "e0f38c95-10bc-4af4-86b2-301e394d40a8"
                        },
                        "requestId": {
                          "type": "string",
                          "example": "b15be598-f61b-42f5-9589-1e8183076f77"
                        },
                        "senderUserId": {
                          "type": "string",
                          "example": "75d7c01f-5f93-4490-8b93-a62fd8020358"
                        },
                        "recipientUserId": {
                          "type": "string",
                          "example": "0c91a2a3-b0da-4779-bd15-2b29b8854de4"
                        },
                        "recipientAddress": {
                          "type": "string",
                          "example": "0x89dfD8792c7E7041c24F01223929F1d8Dd642F0c"
                        },
                        "chain": {
                          "type": "string",
                          "example": "POLYGON_MAINNET"
                        },
                        "currency": {
                          "type": "string",
                          "example": "usdc"
                        },
                        "transactionHash": {
                          "type": "string",
                          "example": "0xd2f14a064ae8c7509a14597c374a63172f682cfa5fd37b6bf32edd334d52064e"
                        },
                        "createdAt": {
                          "type": "string",
                          "example": "2024-07-10T16:20:33.435706+00:00"
                        },
                        "updatedAt": {
                          "type": "string",
                          "example": "2024-07-10T16:21:01.027+00:00"
                        },
                        "status": {
                          "type": "string",
                          "example": "CONFIRMED"
                        },
                        "contractAddress": {
                          "type": "string",
                          "example": "0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359"
                        },
                        "sender": {
                          "type": "object",
                          "properties": {
                            "business_name": {},
                            "legal_last_name": {
                              "type": "string",
                              "example": "YANG"
                            },
                            "compliance_email": {
                              "type": "string",
                              "example": "william@hifibridge.com"
                            },
                            "legal_first_name": {
                              "type": "string",
                              "example": "William"
                            }
                          }
                        },
                        "recipient": {
                          "type": "object",
                          "properties": {
                            "business_name": {},
                            "legal_last_name": {
                              "type": "string",
                              "example": "Gutix"
                            },
                            "compliance_email": {
                              "type": "string",
                              "example": "max@gmail.com"
                            },
                            "legal_first_name": {
                              "type": "string",
                              "example": "Max"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"error\":\"id is required\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "id is required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"error\": \"No transaction found for id: c8cf0e6d-3cdb-4cf7-b089-4f640bd0c59d\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No transaction found for id: c8cf0e6d-3cdb-4cf7-b089-4f640bd0c59d"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"error\": \"Unexpected error ahppened\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unexpected error ahppened"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Transfer stablecoins",
        "description": "Transfer stablecoins between users or wallet addresses",
        "operationId": "add-a-bank-account-for-usd-offramp-copy-1",
        "tags": ["Transfer"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "requestId",
                  "senderUserId",
                  "amount",
                  "chain",
                  "currency"
                ],
                "properties": {
                  "requestId": {
                    "type": "string",
                    "description": "Unique identifier for the transfer request (recommend using uuid v4)"
                  },
                  "senderUserId": {
                    "type": "string",
                    "description": "User Id of the sender"
                  },
                  "recipientUserId": {
                    "type": "string",
                    "description": "User Id of the recipient  (should either provide recipientUserId or recipientAddress)"
                  },
                  "recipientAddress": {
                    "type": "string",
                    "description": "wallet address of the recipient (should either provide recipientUserId or recipientAddress)"
                  },
                  "amount": {
                    "type": "number",
                    "format": "float"
                  },
                  "chain": {
                    "type": "string",
                    "enum": ["POLYGON_MAINNET"]
                  },
                  "currency": {
                    "type": "string",
                    "enum": ["usdc"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"transferType\": \"CRYPTO_TO_CRYPTO\",\n    \"transferDetails\": {\n        \"id\": \"0b9a8c80-3ce3-4aee-9d94-8a8ac43a2543\",\n        \"requestId\": \"5d0a55aa-9a2a-486a-a57e-d5d9e576cf6d\",\n        \"senderUserId\": \"75d7c01f-5f93-4490-8b93-a62fd8020358\",\n        \"recipientUserId\": \"0c91a2a3-b0da-4779-bd15-2b29b8854de4\",\n        \"recipientAddress\": \"0x89dfD8792c7E7041c24F01223929F1d8Dd642F0c\",\n        \"chain\": \"POLYGON_MAINNET\",\n        \"currency\": \"usdc\",\n        \"amount\": 0.01,\n        \"transactionHash\": \"0x23188ac9f798d97d481f86fe1904a74cd885ed8bcff9d52d8bb7c3a2f54a3a59\",\n        \"createdAt\": \"2024-06-25T20:41:57.671322+00:00\",\n        \"status\": \"SUBMITTED\",\n        \"contractAddress\": \"0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359\",\n      \"failedReason\": \"\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transferType": {
                      "type": "string",
                      "example": "CRYPTO_TO_CRYPTO"
                    },
                    "transferDetails": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "0b9a8c80-3ce3-4aee-9d94-8a8ac43a2543"
                        },
                        "requestId": {
                          "type": "string",
                          "example": "5d0a55aa-9a2a-486a-a57e-d5d9e576cf6d"
                        },
                        "senderUserId": {
                          "type": "string",
                          "example": "75d7c01f-5f93-4490-8b93-a62fd8020358"
                        },
                        "recipientUserId": {
                          "type": "string",
                          "example": "0c91a2a3-b0da-4779-bd15-2b29b8854de4"
                        },
                        "recipientAddress": {
                          "type": "string",
                          "example": "0x89dfD8792c7E7041c24F01223929F1d8Dd642F0c"
                        },
                        "chain": {
                          "type": "string",
                          "example": "POLYGON_MAINNET"
                        },
                        "currency": {
                          "type": "string",
                          "example": "usdc"
                        },
                        "amount": {
                          "type": "number",
                          "example": 0.01,
                          "default": 0
                        },
                        "transactionHash": {
                          "type": "string",
                          "example": "0x23188ac9f798d97d481f86fe1904a74cd885ed8bcff9d52d8bb7c3a2f54a3a59"
                        },
                        "createdAt": {
                          "type": "string",
                          "example": "2024-06-25T20:41:57.671322+00:00"
                        },
                        "status": {
                          "type": "string",
                          "example": "SUBMITTED"
                        },
                        "contractAddress": {
                          "type": "string",
                          "example": "0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359"
                        },
                        "failedReason": {
                          "type": "string",
                          "example": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"error\":\"transfer amount exceeds balance\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "transfer amount exceeds balance"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"error\": \"Request for requestId is already exist, please use get transaction endpoint with id: c8cf0e6d-3cdb-4cf7-b089-4f640bd0c59d\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Request for requestId is already exist, please use get transaction endpoint with id: c8cf0e6d-3cdb-4cf7-b089-4f640bd0c59d"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"error\":\"Unexpected error happened\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unexpected error happened"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/tos-link": {
      "post": {
        "summary": "Generate Terms of Service Link",
        "description": "The Terms of Service page must be displayed to the end user. This page can be whitelabeled upon request.",
        "operationId": "get-user-copy",
        "tags": ["User"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["idempotencyKey"],
                "properties": {
                  "idempotencyKey": {
                    "type": "string",
                    "description": "Unique identifier for the resource"
                  },
                  "templateId": {
                    "type": "string",
                    "description": "Id of the custom terms of service template generated in the HIFI developer dashboard. If not passed, the page will use HIFI's default template."
                  },
                  "redirectUrl": {
                    "type": "string",
                    "description": "Url to redirect after accepting the terms of service link. The signedAgreementId is the same as the passed idempotencyKey, you may attempt to call the POST /user/create endpoint, but if the user did not accept the TOS, the user creation will return an error."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"url\": \"https://dashboard.hifibridge.com/accept-terms-of-service?sessionToken=e12d9c3f-75a8-4bd1-aa3d-97a2cfaf2c40&redirectUrl=undefined&templateId=2fb2da24-472a-4e5b-b160-038d9dc82a40\",\n    \"sessionToken\": \"e12d9c3f-75a8-4bd1-aa3d-97a2cfaf2c40\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "example": "https://dashboard.hifibridge.com/accept-terms-of-service?sessionToken=e12d9c3f-75a8-4bd1-aa3d-97a2cfaf2c40&redirectUrl=undefined&templateId=2fb2da24-472a-4e5b-b160-038d9dc82a40"
                    },
                    "sessionToken": {
                      "type": "string",
                      "example": "e12d9c3f-75a8-4bd1-aa3d-97a2cfaf2c40"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"error\": \"idempotencyKey is required\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "idempotencyKey is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"error\": \"Unexpected error happened\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unexpected error happened"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/activateOnRampRail": {
      "post": {
        "summary": "Activate fiat to stablecoin conversion for user",
        "description": "Enable ACH to stablecoin converstion for users. This is a billable event.",
        "operationId": "add-a-bank-account-for-usd-onramp-plaid-copy",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["rail", "destinationCurrency", "destinationChain"],
                "properties": {
                  "rail": {
                    "type": "string",
                    "description": "Passing \"US_ACH_WIRE\" to the rail parameter automatically enables ACH and Wire stablecoin conversion for the user.",
                    "enum": ["US_ACH_WIRE"]
                  },
                  "destinationCurrency": {
                    "type": "string",
                    "description": "`usdt` is allowed only on `ETHEREUM_MAINNET` at this moment",
                    "enum": ["usdc", "usdt"]
                  },
                  "destinationChain": {
                    "type": "string",
                    "enum": [
                      "POLYGON_MAINNET",
                      "ETHEREUM_MAINNET",
                      "OPTIMISM_MAINNET",
                      "BASE_MAINNET"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"US_ACH rail created successfully\",\n    \"account\": {\n    \t\"virtualAccountId\": \"21593434-eb2a-4e44-a4d7-fc5700acd8a2\",\n    \t\"userId\": \"75d7c01f-5f93-43434-8b93-a62fd8020358\",\n    \t\"paymentRail\": \"ach_push\",\n    \t\"sourceCurrency\": \"usd\",\n    \t\"destinationChain\": \"POLYGON_MAINNET\",\n    \t\"destinationCurrency\": \"usdc\",\n    \t\"destinationWalletAddress\": \"0xBe64088c19d2F06890343bbE03A6125D7A23dec5\",\n    \t\"railStatus\": \"activated\",\n    \t\"depositInstructions\": {\n        \t\"bankName\": \"Lead Bank\",\n        \t\"routingNumber\": \"101023444\",\n        \t\"accountNumber\": \"223401218467\",\n        \t\"bankAddress\": \"1801 Main St., Kansas City, MO 64108\"\n    \t}\n\t\t}\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "US_ACH rail created successfully"
                    },
                    "account": {
                      "type": "object",
                      "properties": {
                        "virtualAccountId": {
                          "type": "string",
                          "example": "21593434-eb2a-4e44-a4d7-fc5700acd8a2"
                        },
                        "userId": {
                          "type": "string",
                          "example": "75d7c01f-5f93-43434-8b93-a62fd8020358"
                        },
                        "paymentRail": {
                          "type": "string",
                          "example": "ach_push"
                        },
                        "sourceCurrency": {
                          "type": "string",
                          "example": "usd"
                        },
                        "destinationChain": {
                          "type": "string",
                          "example": "POLYGON_MAINNET"
                        },
                        "destinationCurrency": {
                          "type": "string",
                          "example": "usdc"
                        },
                        "destinationWalletAddress": {
                          "type": "string",
                          "example": "0xBe64088c19d2F06890343bbE03A6125D7A23dec5"
                        },
                        "railStatus": {
                          "type": "string",
                          "example": "activated"
                        },
                        "depositInstructions": {
                          "type": "object",
                          "properties": {
                            "bankName": {
                              "type": "string",
                              "example": "Lead Bank"
                            },
                            "routingNumber": {
                              "type": "string",
                              "example": "101023444"
                            },
                            "accountNumber": {
                              "type": "string",
                              "example": "223401218467"
                            },
                            "bankAddress": {
                              "type": "string",
                              "example": "1801 Main St., Kansas City, MO 64108"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\t\t\t\"message\": \"User is not allowed to create the rail\"\n\t\t\t}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User is not allowed to create the rail"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\t\t\t\"message\": \"Unexpected error happened\"\n\t\t\t}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unexpected error happened"
                    }
                  }
                }
              }
            }
          },
          "501": {
            "description": "501",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"message\": \"rail is not yet implemented\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "rail is not yet implemented"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/transfer/crypto-to-fiat": {
      "post": {
        "summary": "Liquidate stablecoin into a bank account",
        "description": "Liquidate stablecoin into fiat currency and send to a destination bank account",
        "operationId": "transfer-crypto-between-user-copy",
        "tags": ["Transfer"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "requestId",
                  "sourceUserId",
                  "destinationUserId",
                  "destinationAccountId",
                  "sourceCurrency",
                  "destinationCurrency",
[...]
